STRATEGY_PLAYBOOK_PATH=D:\Market_Sentiment_Tendency_Report\Input_Example\Strategy_Playbook_DB.xlsx
MARKET_SENTIMENT_PATH=D:\Market_Sentiment_Tendency_Report\Input_Example\Market_Sentiment_DB.xlsx
OUTPUT_DIR=D:\Market_Sentiment_Tendency_Report\Output_Example\Market_Sentiment_Tendency_Report
WORD_TEMPLATE_PATH=D:\Market_Sentiment_Tendency_Report\Daily Report Template.docx